.visually-hidden {
  position: absolute !important;
  clip: rect(1px 1px 1px 1px);
  /* IE6, IE7 */
  clip: rect(1px, 1px, 1px, 1px);
  padding: 0 !important;
  border: 0 !important;
  height: 1px !important;
  width: 1px !important;
  overflow: hidden;
}

*,
*::before,
*::after {
  margin: 0;
  padding: 0;
}

body {
  font-family: "Roboto", sans-serif;
  font-style: normal;
  background-color: #ffffff;
}

.list {
  list-style: none;
}

.link {
  text-decoration: none;
}

img {
  display: block;
  max-width: 100%;
  height: auto;
}

.section {
  padding-top: 60px;
  padding-bottom: 60px;
}

@media screen and (min-width: 1200px) {
  .section {
    padding-top: 94px;
    padding-bottom: 94px;
  }
}

.container {
  padding: 0 15px;
  margin: 0 auto;
}

@media screen and (min-width: 480px) {
  .container {
    width: 480px;
  }
}

@media screen and (min-width: 768px) {
  .container {
    width: 768px;
  }
}

@media screen and (min-width: 1200px) {
  .container {
    width: 1200px;
  }
}

@media screen and (max-width: 767px) {
  .header .container {
    display: flex;
    align-items: center;
    justify-content: space-between;
    min-height: 60px;
  }
}

@media screen and (min-width: 768px) {
  .header .container {
    display: flex;
    align-items: center;
  }
}

@media screen and (min-width: 768px) {
  .features .container {
    display: flex;
    align-items: center;
  }
}

@media screen and (min-width: 768px) and (max-width: 1199px) {
  .footer .container {
    display: flex;
    align-items: baseline;
    flex-wrap: wrap;
    justify-content: space-around;
  }
}

@media screen and (min-width: 1200px) {
  .footer .container {
    display: flex;
    align-items: baseline;
  }
}

.logo {
  font-family: "Raleway", sans-serif;
  font-style: normal;
  font-weight: 700;
  font-size: 24px;
  line-height: 1.167;
  letter-spacing: 0.03em;
}

@media screen and (min-width: 1200px) {
  .logo {
    font-size: 26px;
    line-height: 1.192;
  }
}

.logo-name {
  color: #2196f3;
}

.header .logo {
  padding-top: 16px;
  padding-bottom: 16px;
  color: #000000;
}

@media screen and (min-width: 768px) {
  .header .logo {
    padding-top: 26px;
    padding-bottom: 26px;
    margin-right: 88px;
  }
}

@media screen and (min-width: 1200px) {
  .header .logo {
    padding-top: 24px;
    padding-bottom: 25px;
    margin-right: 93px;
  }
}

.footer .logo {
  color: #ffffff;
  display: block;
  margin-bottom: 20px;
}

.social-list {
  display: flex;
  justify-content: center;
}

.footer .social-list {
  display: flex;
}

.social-list-items:not(:last-child) {
  margin-right: 10px;
}

.social-list-link {
  display: flex;
  align-items: center;
  justify-content: center;
  width: 44px;
  height: 44px;
  border-radius: 50%;
  transition: 250ms cubic-bezier(0.4, 0, 0.2, 1);
}

.social-list-link:hover, .social-list-link:focus {
  background-color: #2196f3;
  transition: 250ms cubic-bezier(0.4, 0, 0.2, 1);
}

.footer .social-list-link {
  background-image: url(../images/footer/bg.png);
}

.social-list-svg {
  width: 20px;
  height: 20px;
  fill: #afb1b8;
}

.social-list-link:hover .social-list-svg,
.social-list-link:focus .social-list-svg {
  fill: white;
  transition: 250ms cubic-bezier(0.4, 0, 0.2, 1);
}

.footer .social-list-svg {
  fill: #ffffff;
}

.menu-btn {
  display: flex;
  padding: 0;
  margin: 0;
  width: 40px;
  height: 40px;
  border: none;
  border-width: 0;
  cursor: pointer;
  background: #ffffff;
}

.menu-btn .icon-menu {
  display: block;
}

.menu-btn .icon-cross {
  display: none;
}

.menu-btn.is-open .icon-menu {
  display: none;
}

.menu-btn.is-open .icon-cross {
  display: block;
}

.menu-btn:hover, .menu-btn:focus {
  fill: #2196f3;
}

@media screen and (min-width: 768px) {
  .menu-btn {
    display: none;
  }
}

@media screen and (max-width: 767px) {
  .menu-container {
    display: none;
  }
  .menu-container.is-open {
    display: block;
    position: absolute;
    top: 100%;
    left: 0;
    width: 100%;
    height: 393px;
    padding-top: 60px;
    padding-bottom: 60px;
    background-color: #ffffff;
    text-align: center;
    border-top: 1px solid #ececec;
    border-bottom: 1px solid #ececec;
    z-index: 999;
  }
}

@media screen and (min-width: 768px) {
  .menu-container {
    display: flex;
  }
}

.icon-close-burger {
  border: none;
  border-width: 0;
}

.header {
  /* padding: 32px 0; */
  border-bottom: 1px solid #ececec;
}

@media screen and (max-width: 767px) {
  .header {
    position: relative;
  }
}

@media screen and (max-width: 767px) {
  .header-address {
    margin-top: 60px;
  }
}

@media screen and (min-width: 768px) and (max-width: 1199px) {
  .header-address {
    display: block;
    margin-left: 84px;
    padding: 21px 0;
  }
}

@media screen and (min-width: 1200px) {
  .header-address {
    display: flex;
    align-items: center;
    margin-left: 286px;
  }
}

@media screen and (max-width: 767px) {
  .navigation-item:not(:last-child) {
    margin-bottom: 40px;
  }
}

@media screen and (min-width: 768px) {
  .navigation {
    display: flex;
    align-items: center;
  }
  .navigation-list {
    display: flex;
  }
  .navigation-item:not(:last-child) {
    margin-right: 50px;
  }
}

.navigation-link {
  position: relative;
  font-family: "Roboto", sans-serif;
  font-style: normal;
  font-weight: 500;
  font-size: 18px;
  line-height: 1.167;
  letter-spacing: 0.02em;
  color: #212121;
  transition: color 250ms cubic-bezier(0.4, 0, 0.2, 1);
  padding-top: 8px;
  padding-bottom: 8px;
}

@media screen and (min-width: 768px) {
  .navigation-link {
    font-size: 14px;
    line-height: 1.143;
    padding-top: 32px;
    padding-bottom: 32px;
  }
}

.navigation-link:hover, .navigation-link:focus {
  color: #2196f3;
}

.navigation-list {
  align-items: center;
}

.current {
  color: #2196f3;
}

.current::after {
  position: absolute;
  display: block;
  content: '';
  bottom: 0;
  width: 100%;
  height: 4px;
  left: 0;
  background: #2196f3;
  border-radius: 2px;
  justify-content: center;
}

@media screen and (min-width: 768px) and (max-width: 1199px) {
  .current::after {
    bottom: -1px;
  }
}

.address-link {
  display: flex;
  align-items: center;
  justify-content: center;
  font-family: "Roboto", sans-serif;
  font-style: normal;
  font-weight: 500;
  font-size: 12px;
  line-height: 1.167;
  letter-spacing: 0.02em;
  color: #757575;
  transition: color 250ms cubic-bezier(0.4, 0, 0.2, 1);
}

@media screen and (max-width: 767px) {
  .address-link:not(:last-child) {
    margin-bottom: 16px;
  }
}

@media screen and (min-width: 768px) and (max-width: 1199px) {
  .address-link:not(:last-child) {
    margin-bottom: 10px;
  }
}

@media screen and (min-width: 1200px) {
  .address-link {
    display: inline-flex;
    align-items: center;
    /* justify-content: center; */
    font-size: 14px;
    line-height: 1.143;
    padding-top: 32px;
    padding-bottom: 32px;
  }
  .address-link:not(:last-child) {
    margin-right: 50px;
  }
}

.address-link:hover, .address-link:focus {
  color: #2196f3;
}

.address-link:hover .envelope-icon,
.address-link:hover .smartphone-icon, .address-link:focus .envelope-icon,
.address-link:focus .smartphone-icon {
  fill: #2196f3;
}

.envelope-icon,
.smartphone-icon {
  margin-right: 10px;
  fill: #757575;
}

@media screen and (min-width: 768px) and (max-width: 1199px) {
  .envelope-icon,
  .smartphone-icon {
    margin-right: 8px;
  }
}

.button-list {
  font-family: "Roboto", sans-serif;
  font-style: normal;
  font-weight: 500;
  font-size: 16px;
  line-height: 1.625;
  text-align: center;
  letter-spacing: 0.03em;
  color: #212121;
  width: auto;
  height: auto;
  background: #f5f4fa;
  border-radius: 4px;
  border-width: 0;
  cursor: pointer;
  padding: 6px 22px;
  transition: 250ms cubic-bezier(0.4, 0, 0.2, 1);
}

.button-list:hover, .button-list:focus {
  color: #ffffff;
  background-color: #2196f3;
}

.filter-list {
  display: flex;
  flex-wrap: wrap;
  margin-bottom: 40px;
}

@media screen and (min-width: 768px) {
  .filter-list {
    flex-wrap: nowrap;
    justify-content: center;
    margin-bottom: 30px;
  }
}

@media screen and (min-width: 1200px) {
  .filter-list {
    margin-bottom: 50px;
  }
}

.portfolio-btn:not(:last-child) {
  margin-right: 8px;
  margin-bottom: 15px;
}

@media screen and (min-width: 768px) {
  .portfolio-btn:not(:last-child) {
    margin-right: 8px;
  }
}

@media screen and (max-width: 767px) {
  .portfolio-btn:nth-child(3n) {
    margin-right: 0px;
  }
}

.portfolio-title {
  font-weight: 700;
  font-size: 18px;
  line-height: 2;
  letter-spacing: 0.06em;
  color: #212121;
  margin-bottom: 4px;
}

.portfolio-subtitle {
  font-weight: 400;
  font-size: 16px;
  line-height: 1.875;
  letter-spacing: 0.03em;
  color: #757575;
}

@media screen and (min-width: 768px) {
  .portfolio-list {
    display: flex;
    flex-wrap: wrap;
    justify-content: space-between;
  }
}

.portfolio-content {
  background: #ffffff;
  border-right: 1px solid #eeeeee;
  border-bottom: 1px solid #eeeeee;
  border-left: 1px solid #eeeeee;
  box-sizing: border-box;
  padding: 20px 24px;
  cursor: pointer;
}

.portfolio-link {
  display: block;
  width: 100%;
  height: 100%;
}

.portfolio-link:hover, .portfolio-link:focus {
  box-shadow: 0px 1px 1px rgba(0, 0, 0, 0.12), 0px 4px 4px rgba(0, 0, 0, 0.06), 1px 4px 6px rgba(0, 0, 0, 0.16);
}

.portfolio-items {
  /*width: calc((100-60px) / 3); */
}

@media screen and (min-width: 320px) and (max-width: 767px) {
  .portfolio-items {
    margin-left: auto;
    margin-right: auto;
    max-width: 450px;
  }
}

@media screen and (min-width: 768px) and (max-width: 1199px) {
  .portfolio-items {
    max-width: 354px;
  }
}

.portfolio-items:not(:last-child) {
  margin-bottom: 30px;
}

@media screen and (min-width: 1200px) {
  .portfolio-items {
    margin-right: 30px;
    margin-left: 0;
  }
  .portfolio-items:nth-child(3n) {
    margin-right: 0px;
  }
  .portfolio-items:nth-last-child(-n + 3) {
    margin-bottom: 0px;
  }
}

.portfolio-items-img {
  position: relative;
  overflow: hidden;
  cursor: pointer;
}

.portfolio-items-content {
  position: absolute;
  top: 0;
  left: 0;
  width: auto;
  padding: 63px 24px;
  font-family: "Roboto", sans-serif;
  font-weight: 400;
  font-size: 18px;
  line-height: 1.556;
  letter-spacing: 0.03em;
  color: #ffffff;
  background-color: rgba(33, 150, 243, 0.9);
  opacity: 0;
  visibility: none;
  pointer-events: none;
  transform: translateY(100%);
  transition: 250ms cubic-bezier(0.4, 0, 0.2, 1);
}

@media screen and (min-width: 320px) and (max-width: 767px) {
  .portfolio-items-content {
    height: 294px;
  }
}

.portfolio-link:hover .portfolio-items-content,
.portfolio-link:focus .portfolio-items-content {
  opacity: 1;
  visibility: visible;
  pointer-events: auto;
  transform: translateY(0);
}

.footer {
  background-color: #2f303a;
  padding: 60px 0;
}

@media screen and (max-width: 1199px) {
  .footer-address {
    text-align: center;
    margin-bottom: 60px;
  }
}

@media screen and (min-width: 768px) and (max-width: 1199px) {
  .footer-address {
    margin-right: 165px;
  }
}

@media screen and (min-width: 1200px) {
  .footer-address {
    margin-right: 70px;
  }
}

.footer-address-item {
  font-family: "Roboto", sans-serif;
  font-style: normal;
  font-weight: normal;
  font-size: 14px;
  line-height: 1.714;
  letter-spacing: 0.03em;
  color: #ffffff;
}

.footer-contacts:not(:last-child) {
  margin-bottom: 9px;
}

.footer-contacts-item {
  font-family: "Roboto", sans-serif;
  font-style: normal;
  font-weight: 400;
  font-size: 14px;
  line-height: 1.714;
  letter-spacing: 0.03em;
  color: rgba(255, 255, 255, 0.6);
}

.footer-subt {
  font-family: "Roboto", sans-serif;
  font-weight: 700;
  font-size: 14px;
  line-height: 1.143;
  letter-spacing: 0.03em;
  text-transform: uppercase;
  color: #ffffff;
  margin-bottom: 20px;
}

@media screen and (max-width: 767px) {
  .join-social {
    text-align: center;
    margin-bottom: 60px;
  }
}

@media screen and (max-width: 1199px) {
  .join-social {
    text-align: center;
    margin-bottom: 102px;
  }
}

@media screen and (min-width: 1200px) {
  .mail-form {
    display: flex;
    justify-content: center;
  }
}

@media screen and (max-width: 1199px) {
  .mail-form-wrapper {
    text-align: center;
  }
}

@media screen and (min-width: 1200px) {
  .mail-form-wrapper {
    margin-left: 93px;
  }
}

.mail-form-input {
  width: 100%;
  height: 50px;
  padding-top: 15px;
  padding-bottom: 15px;
  padding-left: 16px;
  border: 1px solid rgba(255, 255, 255, 0.3);
  filter: drop-shadow(0px 4px 4px rgba(0, 0, 0, 0.15));
  border-radius: 4px;
  background-color: transparent;
  font-family: "Roboto", sans-serif;
  font-style: normal;
  font-weight: 400;
  font-size: 16px;
  line-height: 1.25;
  letter-spacing: 0.03em;
  color: #ffffff;
  margin-bottom: 20px;
}

@media screen and (min-width: 768px) {
  .mail-form-input {
    width: 450px;
  }
}

@media screen and (min-width: 1200px) {
  .mail-form-input {
    width: 358px;
    margin-right: 12px;
  }
}

.mail-form-input::placeholder {
  font-family: "Roboto", sans-serif;
  font-style: normal;
  font-weight: 400;
  font-size: 16px;
  line-height: 1.25;
  letter-spacing: 0.03em;
  color: rgba(255, 255, 255, 0.6);
}

.mail-form-input:hover, .mail-form-input:focus {
  border: 1px solid white;
  transition: 250ms cubic-bezier(0.4, 0, 0.2, 1);
}

.mail-form-btn {
  display: flex;
  align-items: center;
  justify-content: space-between;
  width: 200px;
  height: 50px;
  padding-top: 10px;
  padding-right: 28px;
  padding-bottom: 10px;
  padding-left: 29px;
  background: #2196f3;
  box-shadow: 0px 4px 4px rgba(0, 0, 0, 0.15);
  border-radius: 4px;
  border-width: 0px;
  font-family: "Roboto", sans-serif;
  font-style: normal;
  font-weight: 700;
  font-size: 16px;
  line-height: 1.875;
  letter-spacing: 0.06em;
  color: #ffffff;
  /* transform: scale(1); */
  cursor: pointer;
}

@media screen and (max-width: 1199px) {
  .mail-form-btn {
    margin: 0 auto;
  }
}

.mail-form-btn-svg {
  width: 24px;
  height: 24px;
  fill: #ffffff;
}
/*# sourceMappingURL=portfolio.css.map */