$main-font: 'Roboto', sans-serif;
$secondary-font: 'Raleway', sans-serif;
$accent-color: #2196f3;
$primary-background-color: #ffffff;
$primery-title-color: #212121;
$primery-description-color: #757575;
